<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Магазин{% endblock %}</title>
</head>
<body>

{% block auth %}{% endblock %}
{% if access == true %}

<ul>
    {% if admin == false %}
        <li><a href="/good/all">Товары</a></li>
        <li><a href="/user/showOrders">заказы</a></li>        
        <li><a href="/cart/show">Корзина</a></li>
    {% endif %}
    {% if admin == true %}
        <li><a href="/good/all">Товары</a></li>
        <li><a href="/good/add">Добавление товара</a></li>
        <li><a href="/user/all">Пользователи</a></li>
        <li><a href="/cart/ordersShow">Заказы пользователей</a></li>
    {% endif %}
        <li><a href="/auth/logout">logout</a></li>
</ul>
    {% block userOrders %}{% endblock %}
    {% block content %}{% endblock %}
    {% block cart %}{% endblock %}
    {% block orders %}{% endblock %}
{% endif %}
</body>
</html>